@import url("./default.css");
@import url("./layout.css");
@import url("../../laravel-toolkit/resources/css/admin.css");


:root{
    --input-padding:0.4rem;
    --input-button-bgcolor: #0070bb;
    --form-label-color:#FFF;
    --form-feedback-color: #333;
}