@charset "UTF-8";
.position\:static {
  position: static;
}

.static {
  position: static;
}

.position\:relative {
  position: relative;
}

.relative {
  position: relative;
}

.position\:absolute {
  position: absolute;
}

.absolute {
  position: absolute;
}

.position\:fixed {
  position: fixed;
}

.fixed {
  position: fixed;
}

.position\:sticky {
  position: sticky;
}

.sticky {
  position: sticky;
}

.display\:block {
  display: block;
}

.block {
  display: block;
}

.display\:inline {
  display: inline;
}

.inline {
  display: inline;
}

.display\:flex {
  display: flex;
}

.flex {
  display: flex;
}

.display\:inline-flex {
  display: inline-flex;
}

.inline-flex {
  display: inline-flex;
}

.display\:grid {
  display: grid;
}

.grid {
  display: grid;
}

.display\:inline-grid {
  display: inline-grid;
}

.inline-grid {
  display: inline-grid;
}

.display\:table {
  display: table;
}

.table {
  display: table;
}

.display\:inline-table {
  display: inline-table;
}

.inline-table {
  display: inline-table;
}

.no-decoration {
  text-decoration: none;
}

.w\:5 {
  width: 5%;
}

.maxw\:5 {
  max-width: 5%;
}

.minw\:5 {
  min-width: 5%;
}

.h\:5 {
  height: 5%;
}

.maxh\:5 {
  max-height: 5%;
}

.minh\:5 {
  min-height: 5%;
}

.w\:10 {
  width: 10%;
}

.maxw\:10 {
  max-width: 10%;
}

.minw\:10 {
  min-width: 10%;
}

.h\:10 {
  height: 10%;
}

.maxh\:10 {
  max-height: 10%;
}

.minh\:10 {
  min-height: 10%;
}

.w\:15 {
  width: 15%;
}

.maxw\:15 {
  max-width: 15%;
}

.minw\:15 {
  min-width: 15%;
}

.h\:15 {
  height: 15%;
}

.maxh\:15 {
  max-height: 15%;
}

.minh\:15 {
  min-height: 15%;
}

.w\:20 {
  width: 20%;
}

.maxw\:20 {
  max-width: 20%;
}

.minw\:20 {
  min-width: 20%;
}

.h\:20 {
  height: 20%;
}

.maxh\:20 {
  max-height: 20%;
}

.minh\:20 {
  min-height: 20%;
}

.w\:25 {
  width: 25%;
}

.maxw\:25 {
  max-width: 25%;
}

.minw\:25 {
  min-width: 25%;
}

.h\:25 {
  height: 25%;
}

.maxh\:25 {
  max-height: 25%;
}

.minh\:25 {
  min-height: 25%;
}

.w\:30 {
  width: 30%;
}

.maxw\:30 {
  max-width: 30%;
}

.minw\:30 {
  min-width: 30%;
}

.h\:30 {
  height: 30%;
}

.maxh\:30 {
  max-height: 30%;
}

.minh\:30 {
  min-height: 30%;
}

.w\:35 {
  width: 35%;
}

.maxw\:35 {
  max-width: 35%;
}

.minw\:35 {
  min-width: 35%;
}

.h\:35 {
  height: 35%;
}

.maxh\:35 {
  max-height: 35%;
}

.minh\:35 {
  min-height: 35%;
}

.w\:40 {
  width: 40%;
}

.maxw\:40 {
  max-width: 40%;
}

.minw\:40 {
  min-width: 40%;
}

.h\:40 {
  height: 40%;
}

.maxh\:40 {
  max-height: 40%;
}

.minh\:40 {
  min-height: 40%;
}

.w\:45 {
  width: 45%;
}

.maxw\:45 {
  max-width: 45%;
}

.minw\:45 {
  min-width: 45%;
}

.h\:45 {
  height: 45%;
}

.maxh\:45 {
  max-height: 45%;
}

.minh\:45 {
  min-height: 45%;
}

.w\:50 {
  width: 50%;
}

.maxw\:50 {
  max-width: 50%;
}

.minw\:50 {
  min-width: 50%;
}

.h\:50 {
  height: 50%;
}

.maxh\:50 {
  max-height: 50%;
}

.minh\:50 {
  min-height: 50%;
}

.w\:55 {
  width: 55%;
}

.maxw\:55 {
  max-width: 55%;
}

.minw\:55 {
  min-width: 55%;
}

.h\:55 {
  height: 55%;
}

.maxh\:55 {
  max-height: 55%;
}

.minh\:55 {
  min-height: 55%;
}

.w\:60 {
  width: 60%;
}

.maxw\:60 {
  max-width: 60%;
}

.minw\:60 {
  min-width: 60%;
}

.h\:60 {
  height: 60%;
}

.maxh\:60 {
  max-height: 60%;
}

.minh\:60 {
  min-height: 60%;
}

.w\:65 {
  width: 65%;
}

.maxw\:65 {
  max-width: 65%;
}

.minw\:65 {
  min-width: 65%;
}

.h\:65 {
  height: 65%;
}

.maxh\:65 {
  max-height: 65%;
}

.minh\:65 {
  min-height: 65%;
}

.w\:70 {
  width: 70%;
}

.maxw\:70 {
  max-width: 70%;
}

.minw\:70 {
  min-width: 70%;
}

.h\:70 {
  height: 70%;
}

.maxh\:70 {
  max-height: 70%;
}

.minh\:70 {
  min-height: 70%;
}

.w\:75 {
  width: 75%;
}

.maxw\:75 {
  max-width: 75%;
}

.minw\:75 {
  min-width: 75%;
}

.h\:75 {
  height: 75%;
}

.maxh\:75 {
  max-height: 75%;
}

.minh\:75 {
  min-height: 75%;
}

.w\:80 {
  width: 80%;
}

.maxw\:80 {
  max-width: 80%;
}

.minw\:80 {
  min-width: 80%;
}

.h\:80 {
  height: 80%;
}

.maxh\:80 {
  max-height: 80%;
}

.minh\:80 {
  min-height: 80%;
}

.w\:85 {
  width: 85%;
}

.maxw\:85 {
  max-width: 85%;
}

.minw\:85 {
  min-width: 85%;
}

.h\:85 {
  height: 85%;
}

.maxh\:85 {
  max-height: 85%;
}

.minh\:85 {
  min-height: 85%;
}

.w\:90 {
  width: 90%;
}

.maxw\:90 {
  max-width: 90%;
}

.minw\:90 {
  min-width: 90%;
}

.h\:90 {
  height: 90%;
}

.maxh\:90 {
  max-height: 90%;
}

.minh\:90 {
  min-height: 90%;
}

.w\:95 {
  width: 95%;
}

.maxw\:95 {
  max-width: 95%;
}

.minw\:95 {
  min-width: 95%;
}

.h\:95 {
  height: 95%;
}

.maxh\:95 {
  max-height: 95%;
}

.minh\:95 {
  min-height: 95%;
}

.w\:100 {
  width: 100%;
}

.maxw\:100 {
  max-width: 100%;
}

.minw\:100 {
  min-width: 100%;
}

.h\:100 {
  height: 100%;
}

.maxh\:100 {
  max-height: 100%;
}

.minh\:100 {
  min-height: 100%;
}

.w\:105 {
  width: 105%;
}

.maxw\:105 {
  max-width: 105%;
}

.minw\:105 {
  min-width: 105%;
}

.h\:105 {
  height: 105%;
}

.maxh\:105 {
  max-height: 105%;
}

.minh\:105 {
  min-height: 105%;
}

.w\:110 {
  width: 110%;
}

.maxw\:110 {
  max-width: 110%;
}

.minw\:110 {
  min-width: 110%;
}

.h\:110 {
  height: 110%;
}

.maxh\:110 {
  max-height: 110%;
}

.minh\:110 {
  min-height: 110%;
}

.w\:115 {
  width: 115%;
}

.maxw\:115 {
  max-width: 115%;
}

.minw\:115 {
  min-width: 115%;
}

.h\:115 {
  height: 115%;
}

.maxh\:115 {
  max-height: 115%;
}

.minh\:115 {
  min-height: 115%;
}

.w\:120 {
  width: 120%;
}

.maxw\:120 {
  max-width: 120%;
}

.minw\:120 {
  min-width: 120%;
}

.h\:120 {
  height: 120%;
}

.maxh\:120 {
  max-height: 120%;
}

.minh\:120 {
  min-height: 120%;
}

.w\:125 {
  width: 125%;
}

.maxw\:125 {
  max-width: 125%;
}

.minw\:125 {
  min-width: 125%;
}

.h\:125 {
  height: 125%;
}

.maxh\:125 {
  max-height: 125%;
}

.minh\:125 {
  min-height: 125%;
}

.w\:130 {
  width: 130%;
}

.maxw\:130 {
  max-width: 130%;
}

.minw\:130 {
  min-width: 130%;
}

.h\:130 {
  height: 130%;
}

.maxh\:130 {
  max-height: 130%;
}

.minh\:130 {
  min-height: 130%;
}

.w\:135 {
  width: 135%;
}

.maxw\:135 {
  max-width: 135%;
}

.minw\:135 {
  min-width: 135%;
}

.h\:135 {
  height: 135%;
}

.maxh\:135 {
  max-height: 135%;
}

.minh\:135 {
  min-height: 135%;
}

.w\:140 {
  width: 140%;
}

.maxw\:140 {
  max-width: 140%;
}

.minw\:140 {
  min-width: 140%;
}

.h\:140 {
  height: 140%;
}

.maxh\:140 {
  max-height: 140%;
}

.minh\:140 {
  min-height: 140%;
}

.w\:145 {
  width: 145%;
}

.maxw\:145 {
  max-width: 145%;
}

.minw\:145 {
  min-width: 145%;
}

.h\:145 {
  height: 145%;
}

.maxh\:145 {
  max-height: 145%;
}

.minh\:145 {
  min-height: 145%;
}

.w\:150 {
  width: 150%;
}

.maxw\:150 {
  max-width: 150%;
}

.minw\:150 {
  min-width: 150%;
}

.h\:150 {
  height: 150%;
}

.maxh\:150 {
  max-height: 150%;
}

.minh\:150 {
  min-height: 150%;
}

.w\:155 {
  width: 155%;
}

.maxw\:155 {
  max-width: 155%;
}

.minw\:155 {
  min-width: 155%;
}

.h\:155 {
  height: 155%;
}

.maxh\:155 {
  max-height: 155%;
}

.minh\:155 {
  min-height: 155%;
}

.w\:160 {
  width: 160%;
}

.maxw\:160 {
  max-width: 160%;
}

.minw\:160 {
  min-width: 160%;
}

.h\:160 {
  height: 160%;
}

.maxh\:160 {
  max-height: 160%;
}

.minh\:160 {
  min-height: 160%;
}

.w\:165 {
  width: 165%;
}

.maxw\:165 {
  max-width: 165%;
}

.minw\:165 {
  min-width: 165%;
}

.h\:165 {
  height: 165%;
}

.maxh\:165 {
  max-height: 165%;
}

.minh\:165 {
  min-height: 165%;
}

.w\:170 {
  width: 170%;
}

.maxw\:170 {
  max-width: 170%;
}

.minw\:170 {
  min-width: 170%;
}

.h\:170 {
  height: 170%;
}

.maxh\:170 {
  max-height: 170%;
}

.minh\:170 {
  min-height: 170%;
}

.w\:175 {
  width: 175%;
}

.maxw\:175 {
  max-width: 175%;
}

.minw\:175 {
  min-width: 175%;
}

.h\:175 {
  height: 175%;
}

.maxh\:175 {
  max-height: 175%;
}

.minh\:175 {
  min-height: 175%;
}

.w\:180 {
  width: 180%;
}

.maxw\:180 {
  max-width: 180%;
}

.minw\:180 {
  min-width: 180%;
}

.h\:180 {
  height: 180%;
}

.maxh\:180 {
  max-height: 180%;
}

.minh\:180 {
  min-height: 180%;
}

.w\:185 {
  width: 185%;
}

.maxw\:185 {
  max-width: 185%;
}

.minw\:185 {
  min-width: 185%;
}

.h\:185 {
  height: 185%;
}

.maxh\:185 {
  max-height: 185%;
}

.minh\:185 {
  min-height: 185%;
}

.w\:190 {
  width: 190%;
}

.maxw\:190 {
  max-width: 190%;
}

.minw\:190 {
  min-width: 190%;
}

.h\:190 {
  height: 190%;
}

.maxh\:190 {
  max-height: 190%;
}

.minh\:190 {
  min-height: 190%;
}

.w\:195 {
  width: 195%;
}

.maxw\:195 {
  max-width: 195%;
}

.minw\:195 {
  min-width: 195%;
}

.h\:195 {
  height: 195%;
}

.maxh\:195 {
  max-height: 195%;
}

.minh\:195 {
  min-height: 195%;
}

.w\:200 {
  width: 200%;
}

.maxw\:200 {
  max-width: 200%;
}

.minw\:200 {
  min-width: 200%;
}

.h\:200 {
  height: 200%;
}

.maxh\:200 {
  max-height: 200%;
}

.minh\:200 {
  min-height: 200%;
}

.padding\:0 {
  padding: 0rem;
}

.padding\:0o1 {
  padding: 0.1rem;
}

.padding\:0o2 {
  padding: 0.2rem;
}

.padding\:0o3 {
  padding: 0.3rem;
}

.padding\:0o4 {
  padding: 0.4rem;
}

.padding\:0o5 {
  padding: 0.5rem;
}

.padding\:0o6 {
  padding: 0.6rem;
}

.padding\:0o7 {
  padding: 0.7rem;
}

.padding\:0o8 {
  padding: 0.8rem;
}

.padding\:0o9 {
  padding: 0.9rem;
}

.padding\:1 {
  padding: 1rem;
}

.padding\:1o1 {
  padding: 1.1rem;
}

.padding\:1o2 {
  padding: 1.2rem;
}

.padding\:1o3 {
  padding: 1.3rem;
}

.padding\:1o4 {
  padding: 1.4rem;
}

.padding\:1o5 {
  padding: 1.5rem;
}

.padding\:1o6 {
  padding: 1.6rem;
}

.padding\:1o7 {
  padding: 1.7rem;
}

.padding\:1o8 {
  padding: 1.8rem;
}

.padding\:1o9 {
  padding: 1.9rem;
}

.padding\:2 {
  padding: 2rem;
}

.padding\:2o1 {
  padding: 2.1rem;
}

.padding\:2o2 {
  padding: 2.2rem;
}

.padding\:2o3 {
  padding: 2.3rem;
}

.padding\:2o4 {
  padding: 2.4rem;
}

.padding\:2o5 {
  padding: 2.5rem;
}

.padding\:2o6 {
  padding: 2.6rem;
}

.padding\:2o7 {
  padding: 2.7rem;
}

.padding\:2o8 {
  padding: 2.8rem;
}

.padding\:2o9 {
  padding: 2.9rem;
}

.padding\:3 {
  padding: 3rem;
}

.padding\:3o1 {
  padding: 3.1rem;
}

.padding\:3o2 {
  padding: 3.2rem;
}

.padding\:3o3 {
  padding: 3.3rem;
}

.padding\:3o4 {
  padding: 3.4rem;
}

.padding\:3o5 {
  padding: 3.5rem;
}

.padding\:3o6 {
  padding: 3.6rem;
}

.padding\:3o7 {
  padding: 3.7rem;
}

.padding\:3o8 {
  padding: 3.8rem;
}

.padding\:3o9 {
  padding: 3.9rem;
}

.padding\:4 {
  padding: 4rem;
}

.padding\:top\:0o1 {
  padding-top: 0.1rem;
}

.padding\:top\:0o2 {
  padding-top: 0.2rem;
}

.padding\:top\:0o3 {
  padding-top: 0.3rem;
}

.padding\:top\:0o4 {
  padding-top: 0.4rem;
}

.padding\:top\:0o5 {
  padding-top: 0.5rem;
}

.padding\:top\:0o6 {
  padding-top: 0.6rem;
}

.padding\:top\:0o7 {
  padding-top: 0.7rem;
}

.padding\:top\:0o8 {
  padding-top: 0.8rem;
}

.padding\:top\:0o9 {
  padding-top: 0.9rem;
}

.padding\:top\:1 {
  padding-top: 1rem;
}

.padding\:top\:1o1 {
  padding-top: 1.1rem;
}

.padding\:top\:1o2 {
  padding-top: 1.2rem;
}

.padding\:top\:1o3 {
  padding-top: 1.3rem;
}

.padding\:top\:1o4 {
  padding-top: 1.4rem;
}

.padding\:top\:1o5 {
  padding-top: 1.5rem;
}

.padding\:top\:1o6 {
  padding-top: 1.6rem;
}

.padding\:top\:1o7 {
  padding-top: 1.7rem;
}

.padding\:top\:1o8 {
  padding-top: 1.8rem;
}

.padding\:top\:1o9 {
  padding-top: 1.9rem;
}

.padding\:top\:2 {
  padding-top: 2rem;
}

.padding\:top\:2o1 {
  padding-top: 2.1rem;
}

.padding\:top\:2o2 {
  padding-top: 2.2rem;
}

.padding\:top\:2o3 {
  padding-top: 2.3rem;
}

.padding\:top\:2o4 {
  padding-top: 2.4rem;
}

.padding\:top\:2o5 {
  padding-top: 2.5rem;
}

.padding\:top\:2o6 {
  padding-top: 2.6rem;
}

.padding\:top\:2o7 {
  padding-top: 2.7rem;
}

.padding\:top\:2o8 {
  padding-top: 2.8rem;
}

.padding\:top\:2o9 {
  padding-top: 2.9rem;
}

.padding\:top\:3 {
  padding-top: 3rem;
}

.padding\:top\:3o1 {
  padding-top: 3.1rem;
}

.padding\:top\:3o2 {
  padding-top: 3.2rem;
}

.padding\:top\:3o3 {
  padding-top: 3.3rem;
}

.padding\:top\:3o4 {
  padding-top: 3.4rem;
}

.padding\:top\:3o5 {
  padding-top: 3.5rem;
}

.padding\:top\:3o6 {
  padding-top: 3.6rem;
}

.padding\:top\:3o7 {
  padding-top: 3.7rem;
}

.padding\:top\:3o8 {
  padding-top: 3.8rem;
}

.padding\:top\:3o9 {
  padding-top: 3.9rem;
}

.padding\:top\:4 {
  padding-top: 4rem;
}

.padding\:right\:0o1 {
  padding-right: 0.1rem;
}

.padding\:right\:0o2 {
  padding-right: 0.2rem;
}

.padding\:right\:0o3 {
  padding-right: 0.3rem;
}

.padding\:right\:0o4 {
  padding-right: 0.4rem;
}

.padding\:right\:0o5 {
  padding-right: 0.5rem;
}

.padding\:right\:0o6 {
  padding-right: 0.6rem;
}

.padding\:right\:0o7 {
  padding-right: 0.7rem;
}

.padding\:right\:0o8 {
  padding-right: 0.8rem;
}

.padding\:right\:0o9 {
  padding-right: 0.9rem;
}

.padding\:right\:1 {
  padding-right: 1rem;
}

.padding\:right\:1o1 {
  padding-right: 1.1rem;
}

.padding\:right\:1o2 {
  padding-right: 1.2rem;
}

.padding\:right\:1o3 {
  padding-right: 1.3rem;
}

.padding\:right\:1o4 {
  padding-right: 1.4rem;
}

.padding\:right\:1o5 {
  padding-right: 1.5rem;
}

.padding\:right\:1o6 {
  padding-right: 1.6rem;
}

.padding\:right\:1o7 {
  padding-right: 1.7rem;
}

.padding\:right\:1o8 {
  padding-right: 1.8rem;
}

.padding\:right\:1o9 {
  padding-right: 1.9rem;
}

.padding\:right\:2 {
  padding-right: 2rem;
}

.padding\:right\:2o1 {
  padding-right: 2.1rem;
}

.padding\:right\:2o2 {
  padding-right: 2.2rem;
}

.padding\:right\:2o3 {
  padding-right: 2.3rem;
}

.padding\:right\:2o4 {
  padding-right: 2.4rem;
}

.padding\:right\:2o5 {
  padding-right: 2.5rem;
}

.padding\:right\:2o6 {
  padding-right: 2.6rem;
}

.padding\:right\:2o7 {
  padding-right: 2.7rem;
}

.padding\:right\:2o8 {
  padding-right: 2.8rem;
}

.padding\:right\:2o9 {
  padding-right: 2.9rem;
}

.padding\:right\:3 {
  padding-right: 3rem;
}

.padding\:right\:3o1 {
  padding-right: 3.1rem;
}

.padding\:right\:3o2 {
  padding-right: 3.2rem;
}

.padding\:right\:3o3 {
  padding-right: 3.3rem;
}

.padding\:right\:3o4 {
  padding-right: 3.4rem;
}

.padding\:right\:3o5 {
  padding-right: 3.5rem;
}

.padding\:right\:3o6 {
  padding-right: 3.6rem;
}

.padding\:right\:3o7 {
  padding-right: 3.7rem;
}

.padding\:right\:3o8 {
  padding-right: 3.8rem;
}

.padding\:right\:3o9 {
  padding-right: 3.9rem;
}

.padding\:right\:4 {
  padding-right: 4rem;
}

.padding\:bottom\:0o1 {
  padding-bottom: 0.1rem;
}

.padding\:bottom\:0o2 {
  padding-bottom: 0.2rem;
}

.padding\:bottom\:0o3 {
  padding-bottom: 0.3rem;
}

.padding\:bottom\:0o4 {
  padding-bottom: 0.4rem;
}

.padding\:bottom\:0o5 {
  padding-bottom: 0.5rem;
}

.padding\:bottom\:0o6 {
  padding-bottom: 0.6rem;
}

.padding\:bottom\:0o7 {
  padding-bottom: 0.7rem;
}

.padding\:bottom\:0o8 {
  padding-bottom: 0.8rem;
}

.padding\:bottom\:0o9 {
  padding-bottom: 0.9rem;
}

.padding\:bottom\:1 {
  padding-bottom: 1rem;
}

.padding\:bottom\:1o1 {
  padding-bottom: 1.1rem;
}

.padding\:bottom\:1o2 {
  padding-bottom: 1.2rem;
}

.padding\:bottom\:1o3 {
  padding-bottom: 1.3rem;
}

.padding\:bottom\:1o4 {
  padding-bottom: 1.4rem;
}

.padding\:bottom\:1o5 {
  padding-bottom: 1.5rem;
}

.padding\:bottom\:1o6 {
  padding-bottom: 1.6rem;
}

.padding\:bottom\:1o7 {
  padding-bottom: 1.7rem;
}

.padding\:bottom\:1o8 {
  padding-bottom: 1.8rem;
}

.padding\:bottom\:1o9 {
  padding-bottom: 1.9rem;
}

.padding\:bottom\:2 {
  padding-bottom: 2rem;
}

.padding\:bottom\:2o1 {
  padding-bottom: 2.1rem;
}

.padding\:bottom\:2o2 {
  padding-bottom: 2.2rem;
}

.padding\:bottom\:2o3 {
  padding-bottom: 2.3rem;
}

.padding\:bottom\:2o4 {
  padding-bottom: 2.4rem;
}

.padding\:bottom\:2o5 {
  padding-bottom: 2.5rem;
}

.padding\:bottom\:2o6 {
  padding-bottom: 2.6rem;
}

.padding\:bottom\:2o7 {
  padding-bottom: 2.7rem;
}

.padding\:bottom\:2o8 {
  padding-bottom: 2.8rem;
}

.padding\:bottom\:2o9 {
  padding-bottom: 2.9rem;
}

.padding\:bottom\:3 {
  padding-bottom: 3rem;
}

.padding\:bottom\:3o1 {
  padding-bottom: 3.1rem;
}

.padding\:bottom\:3o2 {
  padding-bottom: 3.2rem;
}

.padding\:bottom\:3o3 {
  padding-bottom: 3.3rem;
}

.padding\:bottom\:3o4 {
  padding-bottom: 3.4rem;
}

.padding\:bottom\:3o5 {
  padding-bottom: 3.5rem;
}

.padding\:bottom\:3o6 {
  padding-bottom: 3.6rem;
}

.padding\:bottom\:3o7 {
  padding-bottom: 3.7rem;
}

.padding\:bottom\:3o8 {
  padding-bottom: 3.8rem;
}

.padding\:bottom\:3o9 {
  padding-bottom: 3.9rem;
}

.padding\:bottom\:4 {
  padding-bottom: 4rem;
}

.padding\:left\:0o1 {
  padding-left: 0.1rem;
}

.padding\:left\:0o2 {
  padding-left: 0.2rem;
}

.padding\:left\:0o3 {
  padding-left: 0.3rem;
}

.padding\:left\:0o4 {
  padding-left: 0.4rem;
}

.padding\:left\:0o5 {
  padding-left: 0.5rem;
}

.padding\:left\:0o6 {
  padding-left: 0.6rem;
}

.padding\:left\:0o7 {
  padding-left: 0.7rem;
}

.padding\:left\:0o8 {
  padding-left: 0.8rem;
}

.padding\:left\:0o9 {
  padding-left: 0.9rem;
}

.padding\:left\:1 {
  padding-left: 1rem;
}

.padding\:left\:1o1 {
  padding-left: 1.1rem;
}

.padding\:left\:1o2 {
  padding-left: 1.2rem;
}

.padding\:left\:1o3 {
  padding-left: 1.3rem;
}

.padding\:left\:1o4 {
  padding-left: 1.4rem;
}

.padding\:left\:1o5 {
  padding-left: 1.5rem;
}

.padding\:left\:1o6 {
  padding-left: 1.6rem;
}

.padding\:left\:1o7 {
  padding-left: 1.7rem;
}

.padding\:left\:1o8 {
  padding-left: 1.8rem;
}

.padding\:left\:1o9 {
  padding-left: 1.9rem;
}

.padding\:left\:2 {
  padding-left: 2rem;
}

.padding\:left\:2o1 {
  padding-left: 2.1rem;
}

.padding\:left\:2o2 {
  padding-left: 2.2rem;
}

.padding\:left\:2o3 {
  padding-left: 2.3rem;
}

.padding\:left\:2o4 {
  padding-left: 2.4rem;
}

.padding\:left\:2o5 {
  padding-left: 2.5rem;
}

.padding\:left\:2o6 {
  padding-left: 2.6rem;
}

.padding\:left\:2o7 {
  padding-left: 2.7rem;
}

.padding\:left\:2o8 {
  padding-left: 2.8rem;
}

.padding\:left\:2o9 {
  padding-left: 2.9rem;
}

.padding\:left\:3 {
  padding-left: 3rem;
}

.padding\:left\:3o1 {
  padding-left: 3.1rem;
}

.padding\:left\:3o2 {
  padding-left: 3.2rem;
}

.padding\:left\:3o3 {
  padding-left: 3.3rem;
}

.padding\:left\:3o4 {
  padding-left: 3.4rem;
}

.padding\:left\:3o5 {
  padding-left: 3.5rem;
}

.padding\:left\:3o6 {
  padding-left: 3.6rem;
}

.padding\:left\:3o7 {
  padding-left: 3.7rem;
}

.padding\:left\:3o8 {
  padding-left: 3.8rem;
}

.padding\:left\:3o9 {
  padding-left: 3.9rem;
}

.padding\:left\:4 {
  padding-left: 4rem;
}

.margin\:0 {
  margin: 0rem;
}

.margin\:0o1 {
  margin: 0.1rem;
}

.margin\:0o2 {
  margin: 0.2rem;
}

.margin\:0o3 {
  margin: 0.3rem;
}

.margin\:0o4 {
  margin: 0.4rem;
}

.margin\:0o5 {
  margin: 0.5rem;
}

.margin\:0o6 {
  margin: 0.6rem;
}

.margin\:0o7 {
  margin: 0.7rem;
}

.margin\:0o8 {
  margin: 0.8rem;
}

.margin\:0o9 {
  margin: 0.9rem;
}

.margin\:1 {
  margin: 1rem;
}

.margin\:1o1 {
  margin: 1.1rem;
}

.margin\:1o2 {
  margin: 1.2rem;
}

.margin\:1o3 {
  margin: 1.3rem;
}

.margin\:1o4 {
  margin: 1.4rem;
}

.margin\:1o5 {
  margin: 1.5rem;
}

.margin\:1o6 {
  margin: 1.6rem;
}

.margin\:1o7 {
  margin: 1.7rem;
}

.margin\:1o8 {
  margin: 1.8rem;
}

.margin\:1o9 {
  margin: 1.9rem;
}

.margin\:2 {
  margin: 2rem;
}

.margin\:2o1 {
  margin: 2.1rem;
}

.margin\:2o2 {
  margin: 2.2rem;
}

.margin\:2o3 {
  margin: 2.3rem;
}

.margin\:2o4 {
  margin: 2.4rem;
}

.margin\:2o5 {
  margin: 2.5rem;
}

.margin\:2o6 {
  margin: 2.6rem;
}

.margin\:2o7 {
  margin: 2.7rem;
}

.margin\:2o8 {
  margin: 2.8rem;
}

.margin\:2o9 {
  margin: 2.9rem;
}

.margin\:3 {
  margin: 3rem;
}

.margin\:3o1 {
  margin: 3.1rem;
}

.margin\:3o2 {
  margin: 3.2rem;
}

.margin\:3o3 {
  margin: 3.3rem;
}

.margin\:3o4 {
  margin: 3.4rem;
}

.margin\:3o5 {
  margin: 3.5rem;
}

.margin\:3o6 {
  margin: 3.6rem;
}

.margin\:3o7 {
  margin: 3.7rem;
}

.margin\:3o8 {
  margin: 3.8rem;
}

.margin\:3o9 {
  margin: 3.9rem;
}

.margin\:4 {
  margin: 4rem;
}

.margin\:top\:0o1 {
  margin-top: 0.1rem;
}

.margin\:top\:0o2 {
  margin-top: 0.2rem;
}

.margin\:top\:0o3 {
  margin-top: 0.3rem;
}

.margin\:top\:0o4 {
  margin-top: 0.4rem;
}

.margin\:top\:0o5 {
  margin-top: 0.5rem;
}

.margin\:top\:0o6 {
  margin-top: 0.6rem;
}

.margin\:top\:0o7 {
  margin-top: 0.7rem;
}

.margin\:top\:0o8 {
  margin-top: 0.8rem;
}

.margin\:top\:0o9 {
  margin-top: 0.9rem;
}

.margin\:top\:1 {
  margin-top: 1rem;
}

.margin\:top\:1o1 {
  margin-top: 1.1rem;
}

.margin\:top\:1o2 {
  margin-top: 1.2rem;
}

.margin\:top\:1o3 {
  margin-top: 1.3rem;
}

.margin\:top\:1o4 {
  margin-top: 1.4rem;
}

.margin\:top\:1o5 {
  margin-top: 1.5rem;
}

.margin\:top\:1o6 {
  margin-top: 1.6rem;
}

.margin\:top\:1o7 {
  margin-top: 1.7rem;
}

.margin\:top\:1o8 {
  margin-top: 1.8rem;
}

.margin\:top\:1o9 {
  margin-top: 1.9rem;
}

.margin\:top\:2 {
  margin-top: 2rem;
}

.margin\:top\:2o1 {
  margin-top: 2.1rem;
}

.margin\:top\:2o2 {
  margin-top: 2.2rem;
}

.margin\:top\:2o3 {
  margin-top: 2.3rem;
}

.margin\:top\:2o4 {
  margin-top: 2.4rem;
}

.margin\:top\:2o5 {
  margin-top: 2.5rem;
}

.margin\:top\:2o6 {
  margin-top: 2.6rem;
}

.margin\:top\:2o7 {
  margin-top: 2.7rem;
}

.margin\:top\:2o8 {
  margin-top: 2.8rem;
}

.margin\:top\:2o9 {
  margin-top: 2.9rem;
}

.margin\:top\:3 {
  margin-top: 3rem;
}

.margin\:top\:3o1 {
  margin-top: 3.1rem;
}

.margin\:top\:3o2 {
  margin-top: 3.2rem;
}

.margin\:top\:3o3 {
  margin-top: 3.3rem;
}

.margin\:top\:3o4 {
  margin-top: 3.4rem;
}

.margin\:top\:3o5 {
  margin-top: 3.5rem;
}

.margin\:top\:3o6 {
  margin-top: 3.6rem;
}

.margin\:top\:3o7 {
  margin-top: 3.7rem;
}

.margin\:top\:3o8 {
  margin-top: 3.8rem;
}

.margin\:top\:3o9 {
  margin-top: 3.9rem;
}

.margin\:top\:4 {
  margin-top: 4rem;
}

.margin\:right\:0o1 {
  margin-right: 0.1rem;
}

.margin\:right\:0o2 {
  margin-right: 0.2rem;
}

.margin\:right\:0o3 {
  margin-right: 0.3rem;
}

.margin\:right\:0o4 {
  margin-right: 0.4rem;
}

.margin\:right\:0o5 {
  margin-right: 0.5rem;
}

.margin\:right\:0o6 {
  margin-right: 0.6rem;
}

.margin\:right\:0o7 {
  margin-right: 0.7rem;
}

.margin\:right\:0o8 {
  margin-right: 0.8rem;
}

.margin\:right\:0o9 {
  margin-right: 0.9rem;
}

.margin\:right\:1 {
  margin-right: 1rem;
}

.margin\:right\:1o1 {
  margin-right: 1.1rem;
}

.margin\:right\:1o2 {
  margin-right: 1.2rem;
}

.margin\:right\:1o3 {
  margin-right: 1.3rem;
}

.margin\:right\:1o4 {
  margin-right: 1.4rem;
}

.margin\:right\:1o5 {
  margin-right: 1.5rem;
}

.margin\:right\:1o6 {
  margin-right: 1.6rem;
}

.margin\:right\:1o7 {
  margin-right: 1.7rem;
}

.margin\:right\:1o8 {
  margin-right: 1.8rem;
}

.margin\:right\:1o9 {
  margin-right: 1.9rem;
}

.margin\:right\:2 {
  margin-right: 2rem;
}

.margin\:right\:2o1 {
  margin-right: 2.1rem;
}

.margin\:right\:2o2 {
  margin-right: 2.2rem;
}

.margin\:right\:2o3 {
  margin-right: 2.3rem;
}

.margin\:right\:2o4 {
  margin-right: 2.4rem;
}

.margin\:right\:2o5 {
  margin-right: 2.5rem;
}

.margin\:right\:2o6 {
  margin-right: 2.6rem;
}

.margin\:right\:2o7 {
  margin-right: 2.7rem;
}

.margin\:right\:2o8 {
  margin-right: 2.8rem;
}

.margin\:right\:2o9 {
  margin-right: 2.9rem;
}

.margin\:right\:3 {
  margin-right: 3rem;
}

.margin\:right\:3o1 {
  margin-right: 3.1rem;
}

.margin\:right\:3o2 {
  margin-right: 3.2rem;
}

.margin\:right\:3o3 {
  margin-right: 3.3rem;
}

.margin\:right\:3o4 {
  margin-right: 3.4rem;
}

.margin\:right\:3o5 {
  margin-right: 3.5rem;
}

.margin\:right\:3o6 {
  margin-right: 3.6rem;
}

.margin\:right\:3o7 {
  margin-right: 3.7rem;
}

.margin\:right\:3o8 {
  margin-right: 3.8rem;
}

.margin\:right\:3o9 {
  margin-right: 3.9rem;
}

.margin\:right\:4 {
  margin-right: 4rem;
}

.margin\:bottom\:0o1 {
  margin-bottom: 0.1rem;
}

.margin\:bottom\:0o2 {
  margin-bottom: 0.2rem;
}

.margin\:bottom\:0o3 {
  margin-bottom: 0.3rem;
}

.margin\:bottom\:0o4 {
  margin-bottom: 0.4rem;
}

.margin\:bottom\:0o5 {
  margin-bottom: 0.5rem;
}

.margin\:bottom\:0o6 {
  margin-bottom: 0.6rem;
}

.margin\:bottom\:0o7 {
  margin-bottom: 0.7rem;
}

.margin\:bottom\:0o8 {
  margin-bottom: 0.8rem;
}

.margin\:bottom\:0o9 {
  margin-bottom: 0.9rem;
}

.margin\:bottom\:1 {
  margin-bottom: 1rem;
}

.margin\:bottom\:1o1 {
  margin-bottom: 1.1rem;
}

.margin\:bottom\:1o2 {
  margin-bottom: 1.2rem;
}

.margin\:bottom\:1o3 {
  margin-bottom: 1.3rem;
}

.margin\:bottom\:1o4 {
  margin-bottom: 1.4rem;
}

.margin\:bottom\:1o5 {
  margin-bottom: 1.5rem;
}

.margin\:bottom\:1o6 {
  margin-bottom: 1.6rem;
}

.margin\:bottom\:1o7 {
  margin-bottom: 1.7rem;
}

.margin\:bottom\:1o8 {
  margin-bottom: 1.8rem;
}

.margin\:bottom\:1o9 {
  margin-bottom: 1.9rem;
}

.margin\:bottom\:2 {
  margin-bottom: 2rem;
}

.margin\:bottom\:2o1 {
  margin-bottom: 2.1rem;
}

.margin\:bottom\:2o2 {
  margin-bottom: 2.2rem;
}

.margin\:bottom\:2o3 {
  margin-bottom: 2.3rem;
}

.margin\:bottom\:2o4 {
  margin-bottom: 2.4rem;
}

.margin\:bottom\:2o5 {
  margin-bottom: 2.5rem;
}

.margin\:bottom\:2o6 {
  margin-bottom: 2.6rem;
}

.margin\:bottom\:2o7 {
  margin-bottom: 2.7rem;
}

.margin\:bottom\:2o8 {
  margin-bottom: 2.8rem;
}

.margin\:bottom\:2o9 {
  margin-bottom: 2.9rem;
}

.margin\:bottom\:3 {
  margin-bottom: 3rem;
}

.margin\:bottom\:3o1 {
  margin-bottom: 3.1rem;
}

.margin\:bottom\:3o2 {
  margin-bottom: 3.2rem;
}

.margin\:bottom\:3o3 {
  margin-bottom: 3.3rem;
}

.margin\:bottom\:3o4 {
  margin-bottom: 3.4rem;
}

.margin\:bottom\:3o5 {
  margin-bottom: 3.5rem;
}

.margin\:bottom\:3o6 {
  margin-bottom: 3.6rem;
}

.margin\:bottom\:3o7 {
  margin-bottom: 3.7rem;
}

.margin\:bottom\:3o8 {
  margin-bottom: 3.8rem;
}

.margin\:bottom\:3o9 {
  margin-bottom: 3.9rem;
}

.margin\:bottom\:4 {
  margin-bottom: 4rem;
}

.margin\:left\:0o1 {
  margin-left: 0.1rem;
}

.margin\:left\:0o2 {
  margin-left: 0.2rem;
}

.margin\:left\:0o3 {
  margin-left: 0.3rem;
}

.margin\:left\:0o4 {
  margin-left: 0.4rem;
}

.margin\:left\:0o5 {
  margin-left: 0.5rem;
}

.margin\:left\:0o6 {
  margin-left: 0.6rem;
}

.margin\:left\:0o7 {
  margin-left: 0.7rem;
}

.margin\:left\:0o8 {
  margin-left: 0.8rem;
}

.margin\:left\:0o9 {
  margin-left: 0.9rem;
}

.margin\:left\:1 {
  margin-left: 1rem;
}

.margin\:left\:1o1 {
  margin-left: 1.1rem;
}

.margin\:left\:1o2 {
  margin-left: 1.2rem;
}

.margin\:left\:1o3 {
  margin-left: 1.3rem;
}

.margin\:left\:1o4 {
  margin-left: 1.4rem;
}

.margin\:left\:1o5 {
  margin-left: 1.5rem;
}

.margin\:left\:1o6 {
  margin-left: 1.6rem;
}

.margin\:left\:1o7 {
  margin-left: 1.7rem;
}

.margin\:left\:1o8 {
  margin-left: 1.8rem;
}

.margin\:left\:1o9 {
  margin-left: 1.9rem;
}

.margin\:left\:2 {
  margin-left: 2rem;
}

.margin\:left\:2o1 {
  margin-left: 2.1rem;
}

.margin\:left\:2o2 {
  margin-left: 2.2rem;
}

.margin\:left\:2o3 {
  margin-left: 2.3rem;
}

.margin\:left\:2o4 {
  margin-left: 2.4rem;
}

.margin\:left\:2o5 {
  margin-left: 2.5rem;
}

.margin\:left\:2o6 {
  margin-left: 2.6rem;
}

.margin\:left\:2o7 {
  margin-left: 2.7rem;
}

.margin\:left\:2o8 {
  margin-left: 2.8rem;
}

.margin\:left\:2o9 {
  margin-left: 2.9rem;
}

.margin\:left\:3 {
  margin-left: 3rem;
}

.margin\:left\:3o1 {
  margin-left: 3.1rem;
}

.margin\:left\:3o2 {
  margin-left: 3.2rem;
}

.margin\:left\:3o3 {
  margin-left: 3.3rem;
}

.margin\:left\:3o4 {
  margin-left: 3.4rem;
}

.margin\:left\:3o5 {
  margin-left: 3.5rem;
}

.margin\:left\:3o6 {
  margin-left: 3.6rem;
}

.margin\:left\:3o7 {
  margin-left: 3.7rem;
}

.margin\:left\:3o8 {
  margin-left: 3.8rem;
}

.margin\:left\:3o9 {
  margin-left: 3.9rem;
}

.margin\:left\:4 {
  margin-left: 4rem;
}

/***
 * 
  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
 ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
 ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
 ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
 ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝                 
 * 
 ***/
.text\:blue {
  color: #007cc7;
}

.text\:red {
  color: #bb1414;
}

.text\:yellow {
  color: #ffab1a;
}

.text\:black {
  color: #1b2020;
}

.text\:grey {
  color: #c8cdd0;
}

.text\:darkgrey {
  color: #415058;
}

.text\:white {
  color: #ffffff;
}

.text\:lime {
  color: #7ed321;
}

.text\:teal {
  color: #008080;
}

.bg\:blue {
  background-color: #007cc7;
}

.bg\:red {
  background-color: #bb1414;
}

.bg\:yellow {
  background-color: #ffab1a;
}

.bg\:black {
  background-color: #1b2020;
}

.bg\:grey {
  background-color: #c8cdd0;
}

.bg\:darkgrey {
  background-color: #415058;
}

.bg\:white {
  background-color: #ffffff;
}

.bg\:lime {
  background-color: #7ed321;
}

.bg\:teal {
  background-color: #008080;
}

.border\:blue {
  border-color: #007cc7;
}

.border\:red {
  border-color: #bb1414;
}

.border\:yellow {
  border-color: #ffab1a;
}

.border\:black {
  border-color: #1b2020;
}

.border\:grey {
  border-color: #c8cdd0;
}

.border\:darkgrey {
  border-color: #415058;
}

.border\:white {
  border-color: #ffffff;
}

.border\:lime {
  border-color: #7ed321;
}

.border\:teal {
  border-color: #008080;
}

/***
 * 
 ████████╗███████╗██╗  ██╗████████╗
 ╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝
    ██║   █████╗   ╚███╔╝    ██║   
    ██║   ██╔══╝   ██╔██╗    ██║   
    ██║   ███████╗██╔╝ ██╗   ██║   
    ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝   

 *
 ***/
h1 {
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0.75rem;
}

h3 {
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: 0.75rem;
}

h4 {
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

h5 {
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

h6 {
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1rem;
}

/***
 * 
███████╗██╗     ███████╗██╗  ██╗██████╗  ██████╗ ██╗  ██╗    ███████╗████████╗ █████╗ ██████╗ ████████╗
██╔════╝██║     ██╔════╝╚██╗██╔╝██╔══██╗██╔═══██╗╚██╗██╔╝    ██╔════╝╚══██╔══╝██╔══██╗██╔══██╗╚══██╔══╝
█████╗  ██║     █████╗   ╚███╔╝ ██████╔╝██║   ██║ ╚███╔╝     ███████╗   ██║   ███████║██████╔╝   ██║   
██╔══╝  ██║     ██╔══╝   ██╔██╗ ██╔══██╗██║   ██║ ██╔██╗     ╚════██║   ██║   ██╔══██║██╔══██╗   ██║   
██║     ███████╗███████╗██╔╝ ██╗██████╔╝╚██████╔╝██╔╝ ██╗    ███████║   ██║   ██║  ██║██║  ██║   ██║   
╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝╚═════╝  ╚═════╝ ╚═╝  ╚═╝    ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   
*
***/
.flex\:all {
  flex: 1 1 100%;
}

.flex\:shrink {
  flex: 0 1 auto;
}

.flex\:grow {
  flex: 1 0 auto;
}

.flex\:static {
  flex: 0 0 auto;
}

.flex\:column {
  position: relative;
  display: flex;
  flex-direction: column;
}
.flex\:column > * {
  flex: 1 0 auto;
}
.flex\:column > .flex-all {
  flex: 1 1 100%;
}
.flex\:column > .flex-shrink {
  flex: 0 1 auto;
}
.flex\:column > .flex-grow {
  flex: 1 0 auto;
}
.flex\:column > .flex-static {
  flex: 0 0 auto;
}
.flex\:column > .self-btm {
  align-self: flex-end;
  margin-top: auto;
}
.flex\:column > .self-middle {
  align-self: center;
  margin: auto 0;
}
.flex\:column > .self-top {
  align-self: flex-start;
  margin-bottom: auto;
}

.flex\:row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex\:row > * {
  flex: 0 1 auto;
  position: relative;
}
.flex\:row > .flex-all {
  flex: 1 1 100%;
}
.flex\:row > .flex-shrink {
  flex: 0 1 auto;
}
.flex\:row > .flex-grow {
  flex-grow: 1;
}
.flex\:row > .flex-static {
  flex: 0 0 auto;
}

.flex\:column.items-wrap {
  flex-wrap: wrap;
}

.flex\:column.center {
  justify-content: center;
}

.flex\:column.left {
  justify-content: flex-start;
}

.flex\:column.right {
  justify-content: flex-end;
}

.flex\:column.top {
  justify-content: flex-start;
}

.flex\:column.bottom {
  justify-content: flex-end;
}

.flex\:column.space-between {
  justify-content: space-between;
}

.flex\:column.space-around {
  justify-content: space-around;
}

.flex\:column.space-even {
  justify-content: space-evenly;
}

.flex\:column.items-align-start {
  align-items: flex-start;
}

.flex\:column.items-align-end {
  align-items: flex-end;
}

.flex\:column.items-align-center {
  align-items: center;
}

.flex\:column.items-align-stretch {
  align-items: stretch;
}

.flex\:column.items-align-baseline {
  align-items: baseline;
}

.flex\:row.items-wrap {
  flex-wrap: wrap;
}

.flex\:row.center {
  justify-content: center;
}

.flex\:row.left {
  justify-content: flex-start;
}

.flex\:row.right {
  justify-content: flex-end;
}

.flex\:row.top {
  justify-content: flex-start;
}

.flex\:row.bottom {
  justify-content: flex-end;
}

.flex\:row.space-between {
  justify-content: space-between;
}

.flex\:row.space-around {
  justify-content: space-around;
}

.flex\:row.space-even {
  justify-content: space-evenly;
}

.flex\:row.items-align-start {
  align-items: flex-start;
}

.flex\:row.items-align-end {
  align-items: flex-end;
}

.flex\:row.items-align-center {
  align-items: center;
}

.flex\:row.items-align-stretch {
  align-items: stretch;
}

.flex\:row.items-align-baseline {
  align-items: baseline;
}

/***
 * 
 ███████╗██╗     ███████╗██╗  ██╗██████╗  ██████╗ ██╗  ██╗    ███████╗███╗   ██╗██████╗ 
 ██╔════╝██║     ██╔════╝╚██╗██╔╝██╔══██╗██╔═══██╗╚██╗██╔╝    ██╔════╝████╗  ██║██╔══██╗
 █████╗  ██║     █████╗   ╚███╔╝ ██████╔╝██║   ██║ ╚███╔╝     █████╗  ██╔██╗ ██║██║  ██║
 ██╔══╝  ██║     ██╔══╝   ██╔██╗ ██╔══██╗██║   ██║ ██╔██╗     ██╔══╝  ██║╚██╗██║██║  ██║
 ██║     ███████╗███████╗██╔╝ ██╗██████╔╝╚██████╔╝██╔╝ ██╗    ███████╗██║ ╚████║██████╔╝
 ╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝╚═════╝  ╚═════╝ ╚═╝  ╚═╝    ╚══════╝╚═╝  ╚═══╝╚═════╝                                        
 * 
*/
a.button {
  display: inline-block;
  padding: 0.65rem 1rem;
  border-radius: 8px;
  font-family: "Proxima Nova", Georgia, sans-serif;
  background: #bb1414;
  margin: 0 0.5rem;
}
a.button\:dark {
  background: #1b2020;
  color: #ffffff;
  border: 1px solid #1b2020;
}
a.button\:dark:hover {
  background: #ffffff;
  color: #1b2020;
  border: 1px solid #1b2020;
}
a.button\:light {
  background: #ffffff;
  color: #1b2020;
  border: 1px solid #415058;
}
a.button\:light:hover {
  background: #1b2020;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.hidden {
  display: none;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row.nowrap {
  flex-wrap: nowrap;
}
.row.cols\:1 > * {
  flex: 0 1 auto;
  width: 100%;
  margin: 0;
}
.row.cols\:2 > * {
  flex: 0 1 auto;
  width: 50%;
  margin: 0;
}
.row.cols\:3 > * {
  flex: 0 1 33.3333%;
}
.row.cols\:4 > * {
  flex: 0 1 25%;
}
.row.cols\:5 > * {
  flex: 0 1 20%;
}
.row.gap\:0o5 {
  gap: 0.5rem;
}
.row.gap\:1 {
  gap: 1rem;
}
.row.gap\:2 {
  gap: 2rem;
}

.gap\:0o1 {
  gap: 0.1rem;
}

.gap\:0o2 {
  gap: 0.2rem;
}

.gap\:0o3 {
  gap: 0.3rem;
}

.gap\:0o4 {
  gap: 0.4rem;
}

.gap\:0o5 {
  gap: 0.5rem;
}

.gap\:0o6 {
  gap: 0.6rem;
}

.gap\:0o7 {
  gap: 0.7rem;
}

.gap\:0o8 {
  gap: 0.8rem;
}

.gap\:0o9 {
  gap: 0.9rem;
}

.gap\:1 {
  gap: 1rem;
}

.gap\:1o5 {
  gap: 1.5rem;
}

.gap\:2 {
  gap: 2rem;
}

.gap\:2o5 {
  gap: 2.5rem;
}

.gap\:3 {
  gap: 3rem;
}

.gap\:3o5 {
  gap: 3.5rem;
}

.gap\:4 {
  gap: 4rem;
}

.gap\:4o5 {
  gap: 4.5rem;
}

.gap\:5 {
  gap: 5rem;
}

.gap\:5o5 {
  gap: 5.5rem;
}

.gap\:6 {
  gap: 6rem;
}
